<!-- This is the modal -->
<button uk-toggle="target: #modal-example" type="button" class="uk-button uk-button-primary uk-border-pill">Start
  Planning</button>

<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
    <form id="modalForm">
      <fieldset class="uk-fieldset">
        <h2>Itinerary planner</h2>
        <div class="uk-margin">
          <input class="uk-input uk-border-rounded" type="text" placeholder="Enter destination" id="location">
        </div>
        <h3 class="uk-text-primary">Activity Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox" id="shopping"> Shopping</label>
          <label><input class="uk-checkbox" type="checkbox" id="sights"> Sights and Landmarks</label>
          <label><input class="uk-checkbox" type="checkbox" id="museum"> Museum</label>
          <label><input class="uk-checkbox" type="checkbox" id="nature"> Nature and Parks</label>
        </div>
        <h3 class="uk-text-primary">Hotel Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <input class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="No of adults"
            id="noOfAdults">
          <input class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="No of nights"
            id="noOfNights">
          <input class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="No of rooms"
            id="noOfRooms">
          <label><input class="uk-checkbox" type="checkbox" id="freewifi"> Free Wifi</label>
          <label><input class="uk-checkbox" type="checkbox" id="spa"> Spa</label>
        </div>
        <h3 class="uk-text-primary"> Restaurant Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox" id="glutenfree"> Gluten Free</label>
          <label><input class="uk-checkbox" type="checkbox" id="vegan"> Vegan </label>
          <label><input class="uk-checkbox" type="checkbox" id="vegetarian"> Vegetarian Friendly</label>
          <label><input class="uk-checkbox" type="checkbox" id="asian"> Asian</label>
          <label><input class="uk-checkbox" type="checkbox" id="american"> American</label>
          <label><input class="uk-checkbox" type="checkbox" id="european"> European
          </label>
        </div>
      </fieldset>
      <p class="uk-text-center">
        <button class="uk-button uk-button-primary uk-modal-close uk-border-rounded" type="button"
          id="formsubmitbutton">Generate your
          trip</button>
      </p>
    </form>
  </div>
</div>

<script src="/js/travelAdvisorApi.js"></script>