<!-- This is the modal -->
<button uk-toggle="target: #modal-example" type="button" class="uk-button uk-button-primary uk-border-pill">Start
  Planning</button>

<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
    <form>
      <fieldset class="uk-fieldset">
        <h2>Itinerary planner</h2>
        <div class="uk-margin">
          <input class="uk-input uk-border-rounded" type="text" placeholder="Enter destination">
        </div>
        <h3 class="uk-text-primary">Activity Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox"> Shopping</label>
          <label><input class="uk-checkbox" type="checkbox"> Sights and Landmarks</label>
          <label><input class="uk-checkbox" type="checkbox"> Museum</label>
          <label><input class="uk-checkbox" type="checkbox"> Nature and Parks</label>
        </div>
        <h3 class="uk-text-primary">Hotel Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">

          <input class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="No of adults">


          <input class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="No of nights">

          <input class="uk-input uk-form-width-medium uk-form-small" type="text" placeholder="No of rooms">

          <label><input class="uk-checkbox" type="checkbox"> Free Wifi</label>
          <label><input class="uk-checkbox" type="checkbox"> Spa</label>
        </div>
        <h3 class="uk-text-primary"> Restaurant Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox"> Gluten Free</label>
          <label><input class="uk-checkbox" type="checkbox"> Vegan </label>
          <label><input class="uk-checkbox" type="checkbox"> Vegetarian Friendly</label>
          <label><input class="uk-checkbox" type="checkbox"> Asian</label>
          <label><input class="uk-checkbox" type="checkbox"> American</label>
          <label><input class="uk-checkbox" type="checkbox"> European
          </label>
        </div>
      </fieldset>
    </form>
    <p class="uk-text-center">
      <button class="uk-button uk-button-primary uk-modal-close uk-border-rounded" type="button">See your
        trip</button>
    </p>
  </div>
</div>