<!doctype html>
<html lang="en">

<head>
    <title>Vacation Awaits</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/uikit.min.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/css/uikit.min.css" />
<!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.1/dist/js/uikit-icons.min.js"></script>
</head>
<body>
    <nav class="uk-navbar-container" uk-navbar>
        <div class="uk-navbar-left">
    
            <ul class="uk-navbar-nav">
                <li>
                    <a href="#">Vacation Awaits</a>
                </li>
            </ul>
        </div>
        <div class="uk-navbar-right">
    
            <ul class="uk-navbar-nav">
                <li class="uk-active"><a href="/">Home</a></li>
                <li>
                    <a href="/profile">Profile</a>
                </li>
                <li><a href="/login">Login/Signup</a></li>
            </ul>
    
        </div>
    </nav>
      <div>
        <!-- Conditionally render login or logout links -->
        {{#if login}}
        <a href="/controllers/api/user.js">profile</a> |
        {{else}}
        <a href="/controllers/homeRoutes.js">login</a>
        {{/if}}
      </div>
    <main class="container">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    <footer>
      
    </footer>
  </div>

  <!-- Render script for logged in users only -->
  {{#if logged_in}}
  <script src="/js/logout.js"></script>
  {{/if}}
</body>

</html> 

