<div class="uk-position-inline" uk-slideshow="min-height: 300; max-height: 400; autoplay: true" autoplay-interval: 5000>
    <ul class="uk-slideshow-items" uk-slideshow="">
        <li>
            <img src="https://images.unsplash.com/photo-1597634285596-01fd1bffe116?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTR8fHZhY2F0aW9ufGVufDB8fDB8fA%3D%3D&w=1000&q=80" uk-cover>
            <div
                class="uk-overlay uk-overlay-default uk-position-bottom-right uk-text-center uk-text-primary uk-width-1-4@m uk-margin-small-bottom uk-margin-small-right uk-border-rounded">
                <h3 class="uk-margin-remove uk-text-primary">Location</h3>
                {{> modal}}
            </div>
        </li>
        <li>
            <img src="https://www.libertytravel.com/sites/default/files/styles/full_size/public/luxury-hero%20%281%29.jpg?itok=eHbThPZQ"
                alt="" uk-cover>
        </li>
        <li>
            <img src="https://content.r9cdn.net/rimg/dimg/ab/8d/b816046d-city-42547-168a07c4eec.jpg?width=1750&height=1000&xhint=2826&yhint=2333&crop=true"
                alt="" uk-cover>
        </li>
        <li>
            <img src="https://www.libertytravel.com/sites/default/files/styles/full_size/public/New-Zealand_hero.jpg?itok=spg0eXLa"
                alt="" uk-cover>
        </li>
    </ul>

</div>

<!--featured cards text-->
<div class="uk-text-center uk-padding-small">
    <h2 class=".uk-text-center">
        Featured Trips
    </h2>
</div>
<!--featured cards-->
<div class="uk-child-width-expand@s uk-text-center uk-height-match uk-grid-match" uk-grid>
    <div>
        <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-padding">
            <div class="uk-card-media-top">
                <img src="https://media.istockphoto.com/photos/two-lounge-chairs-under-tent-on-beach-picture-id489833698?b=1&k=20&m=489833698&s=170667a&w=0&h=WJ4a8Tt1cGV3xUQ8klWiRXQhN5DTdVI0s33K7kxMsIY="
                    width="1800" height="1200">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Los Angeles, California, USA</h3>
                <p class="uk-thumbnav-vertical">
                    <strong>Hotel:</strong> Venice Suites
                    <p>Name:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <strong>Restaurant:</strong> Aliki's Greek Taverna
                    <strong>Address:</strong>
                    <strong>Activity:</strong> Los Angeles County Museum of Art
                    <p>Name:</p>
                    <p>Description:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <p>Opening_hour:</p>
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-padding">
            <div class="uk-card-media-top">
                <img src="https://blog.goway.com/globetrotting/wp-content/uploads/2017/06/Female-tourist-photographing-the-Eiffel-Tower-in-Paris-France_525964882.jpg"
                    width="1800" height="1200">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Paris, France</h3>
                <p class="uk-thumbnav-vertical">
                    <strong>Hotel:</strong> Hotel Pilime
                    <p>Name:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <strong>Restaurant:</strong> Joséphine Chez Dumonet
                    <p>Name:</p>
                    <p>Description:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Address:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <strong>Activity:</strong> Bateaux Parisiens Seine River Gourmet Lunch and Sightseeing Cruise
                    <p>Name:</p>
                    <p>Description:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <p>Opening_hour:</p>
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-padding">
            <div class="uk-card-media-top">
                <img src="https://images.pexels.com/photos/3155666/pexels-photo-3155666.jpeg?cs=srgb&dl=pexels-asad-photo-maldives-3155666.jpg&fm=jpg"
                    width="1800" height="1200">
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Bora Bora, French Polynesia</h3>
                <p class="uk-thumbnav-vertical">
                    <strong>Hotel:</strong> Bora Bora Pearl Beach Resort and Spa
                    <p>Name:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <strong>Restaurant:</strong> Matira Beach Restaurant
                    <p>Name:</p>
                    <p>Description:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Address:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <strong>Activity:</strong> Bora Bora Atv-Quad Tours
                    <p>Name:</p>
                    <p>Description:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <p>Opening_hour:</p>
                </p>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default uk-box-shadow-hover-xlarge uk-padding">
            <div class="uk-card-media-top">
                <img src="https://cdn.pixabay.com/photo/2015/10/30/20/13/sunrise-1014712__340.jpg" width="1800"
                    height="1200" >
            </div>
            <div class="uk-card-body">
                <h3 class="uk-card-title">Miami, Florida, USA</h3>
                <p class="uk-thumbnav-vertical">
                    <strong>Hotel:</strong> Hilton Cabana Miami Beach
                    <p>Name:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <strong>Restaurant:</strong> Stubborn Seed
                    <p>Name:</p>
                    <p>Description:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Address:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <strong>Activity:</strong> Miami South Beach Art Deco Walking Tour
                    <p>Name:</p>
                    <p>Description:</p>
                    <p>Address:</p>
                    <p>Price:</p>
                    <p>Rating:</p>
                    <p>Reviews:</p>
                    <p>Contact number:</p>
                    <p>Web URL:</p>
                    <p>Opening_hour:</p>
                </p>
            </div>
        </div>
    </div>
</div>
</body>

</html>