<div class="uk-card-large uk-card-default uk-card-body uk-width-1-2@m uk-position-center uk-margin-medium-top">
  <h3 class="uk-card-title">Login</h3>
  <form>
    <fieldset class="uk-fieldset">
      <legend class="uk-legend">Username</legend>
      <div class="uk-margin uk-inline">
        <span class="uk-form-icon" uk-icon="icon: user"></span>
        <input class="uk-input" type="text" placeholder="Username" id="loginUsername">

      </div>
      <legend class="uk-legend">Password</legend>
      <div class="uk-margin uk-inline">
        <span class="uk-form-icon uk-form-icon-flip" uk-icon="icon: lock"></span>
        <input class="uk-input" type="password" placeholder="Password" id="loginPassword">
      </div><br>
      <button class="uk-button uk-button-primary uk-border-rounded loginBtn">Login</button>
    </fieldset>
    <p>Don't have an account ?<a href="/signup"> Sign Up</a></p>
  </form>
</div>