<!-- This is the modal -->
<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
    <form>
      <fieldset class="uk-fieldset">
        <h2>Itinerary planner</h2>
        <div class="uk-margin">
          <input class="uk-input uk-border-rounded" type="text" placeholder="Enter destination">
        </div>
        <h3 class="uk-text-primary">Activity Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox"> Type A</label>
          <label><input class="uk-checkbox" type="checkbox"> Type B</label>
          <label><input class="uk-checkbox" type="checkbox"> Type C</label>
          <label><input class="uk-checkbox" type="checkbox"> Type D</label>
        </div>
        <h3 class="uk-text-primary">Hotel Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox"> Type A</label>
          <label><input class="uk-checkbox" type="checkbox"> Type B</label>
          <label><input class="uk-checkbox" type="checkbox"> Type C</label>
          <label><input class="uk-checkbox" type="checkbox"> Type D</label>
        </div>
        <h3 class="uk-text-primary"> Restaurant Preferences</h3>
        <div class="uk-margin uk-grid-small uk-child-width-auto uk-grid">
          <label><input class="uk-checkbox" type="checkbox"> Type A</label>
          <label><input class="uk-checkbox" type="checkbox"> Type B</label>
          <label><input class="uk-checkbox" type="checkbox"> Type C</label>
          <label><input class="uk-checkbox" type="checkbox"> Type D</label>
        </div>
      </fieldset>
    </form>
    <p class="uk-text-center">
      <button class="uk-button uk-button-primary uk-modal-close uk-border-rounded" type="button">See your
        trip</button>
    </p>
  </div>
</div>