<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m uk-margin-xlarge-left uk-margin-medium-top">
  <h3 class="uk-card-title">Plan generated</h3>
  <h2>Hotel</h2>
  <p>Name:</p>
  <p>Address:</p>
  <p>Price:</p>
  <p>Rating:</p>
  <p>Reviews:</p>
  <p>Contact number:</p>
  <p>Web URL:</p>

  <h2>Restaurant</h2>
  <p>Name:</p>
  <p>Description:</p>
  <p>Price:</p>
  <p>Rating:</p>
  <p>Address:</p>
  <p>Reviews:</p>
  <p>Contact number:</p>

  <h2>Activity</h2>
  <p>Name:</p>
  <p>Description:</p>
  <p>Address:</p>
  <p>Price:</p>
  <p>Rating:</p>
  <p>Reviews:</p>
  <p>Contact number:</p>
  <p>Web URL:</p>
  <p>Opening_hour:</p>
</div>