{{#each plans as |plan| }}
<div class="uk-child-width-expand@s uk-text-center uk-margin-top uk-margin-left uk-width-1-4@m" uk-grid>
  <div>
    <div class="uk-card uk-card-default">
      <div class="uk-card-media-top">
        <img
          src="https://media.istockphoto.com/photos/summer-tropical-beach-background-glasses-and-palm-tree-reflex-picture-id1155508685?k=20&m=1155508685&s=612x612&w=0&h=_WYFV9P2l-qaubx7wV-WOf4cqfQxJBi-ruHodKHv7OU="
          width="1800" height="1200" alt="">
      </div>
      <div class="uk-card-body">
        <h3 class="uk-card-title">Plan</h3>
        <p>Hotel:{{plan.hotel.name}}</p>
        <p>Restaurant:{{plan.restaurant.name}}</p>
        <p>Activity:{{plan.activity.name}}</p>
        <button class="uk-button uk-button-primary" onclick="window.location.href='/plan'">See Details</button>
      </div>

    </div>
  </div>
</div>
{{/each}}